* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
}

body, section {
  height: 1080px;
  width: 3200px;
}

.hw-43 {
  /* 4x3 heritage window screens */
  width: 2560px;
  height: 1080px;
}

.hw-13 {
  /* 4x3 heritage window screens */
  width: 640px;
  height: 1080px;
}

/* Play area */
#game {
  font-size: 42px;
}

#timer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 60px;
  width: 2560px;
  background: #333333;
}

#ticker {
  height: 60px;
  line-height: 60px;
  background: #bcbcbc;
  color: #333333;
  font-weight: bold;
  text-align: right;
  padding-right: 15px;
}

#question, #answers {
  position: absolute;
  top: 25px;
  width: 1230px;
  height: 960px;  
}

#question {
  left: 25px;
  font-size: 72px;
  text-align: center;
}

#answers {
  left: 1305px;
}

#flavour-text {
  position: absolute;
  top: 829px;
  left: 100px;
  width: 2400px;
  text-align: center;
}

.answer {
  border-width: 8px;
  border-style: solid;
  border-radius: 15px;
  margin: 15px 0;
  padding: 12px;
}

.answer::before {
  font-weight: bold;
  float: left;
  width: 2em;
  text-align: center;
}

#answer-1 {
  border-color: #f65314;
}

#answer-1::before {
  content: "A";
  color: #f65314;
}

#answer-2 {
  border-color: #7cbb00;
}

#answer-2::before {
  content: "B";
  color: #7cbb00;
}

#answer-3 {
  border-color: #00a1f1;
}

#answer-3::before {
  content: "C";
  color: #00a1f1;
}

#answer-4 {
  border-color: #ffbb00;
}

#answer-4::before {
  content: "D";
  color: #ffbb00;
}

#flavour-text {
  opacity: 0;
}

/* Scoreboard */
#scoreboard {
  background: #002147;
  font-size: 32px;
}

#scores {
  list-style: none;
  height: 570px;
  overflow: hidden;
}

#scores li {
  display: flex;
  justify-content: space-between;
  min-height: 44px;
}

#scores li > div {
  margin: 0 2px;
}

#scores li .pos,
#scores li .score {
  text-align: right;
}

#scores li .name {
  flex-grow: 1;
}

#scores li .streaking {
  width: 32px;
}

/* Data <table> with questions in */
#questions {
  display: none;
}

/* Showing answer mode */

body.showing-answer #timer {
  display: none;
}

body.showing-answer #flavour-text {
  opacity: 1;
}

body.showing-answer .answer {
  opacity: 0.25;
}

body.showing-answer .answer.correct {
  opacity: 1;
}

/* Snowfall/pause page */

#snow {
  position:absolute;
  top:0;
  left:0
}

#pause-content {
  height: 100%;
  font-size: 400%;
}