/* Remove icky mobile styling and reset things generally */

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

/* Section visibility */

main section {
  display: none;
  width: 100vw;
}

main section.current {
  display: block;
}

/* Flex boxes */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.flex-middle {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}
